body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader{
  position: fixed;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  z-index: 1;
  cursor:progress; 
}


.showGrid{
  grid-column: 2;
  grid-row:2;
  padding:200px;
  align-items:center;
  content:center;
  position:relative;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  gap:20px;
  padding:20px;
}

.imgWrapper{
  border:1px solid black;
  height:20%;
}

.pokeName{
  font-size:1.2rem;
  font-weight:bold;
}

.id{
  font-weight:italic;
  color:gray;
}

.pokeCard{
  text-align:center;
  justify-content:center;
  align-content:center;
  background-color:rgb(209, 233, 253);
  width:100%;
  height:100%;
  border-radius:10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pokeCard:hover{
  transition:.6s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image{
  background-color:aliceblue ;
}


.searchBar{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  min-width:30%;
  max-width:80%;
  border-radius:5px;
  background-color:#3b4cca;
  margin:1vh;
  padding:10px;
  margin-left:10%;
  display:grid;
  gap:20px;
  grid-template-columns:1fr 1fr;
}

.searchBar input{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color:#FFDE00;
  border-radius:5px;
  text-align:center;
  position:relative;
}

.searchBar button{ 
  grid-column:2;
  position:relative;
  font-size:0.8rem;
  max-width:100%;
  border-radius:2em;
  box-sizing: border-box;
  font-weight:bold;
  color:#000000;
  background-color:#FFDE00;
  text-align:center;
}

/*                MODAL                     */
.background{
  background-color:rgba(0, 0, 0, 0.8);
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  grid-gap:15px;
  grid-template-columns: 1fr 2fr .5fr;
  grid-template-rows:1fr 5fr 1fr;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.left{
  grid-column:1;
  grid-row:1;
  background-color:rgb(221, 190, 190);
  width:100%;
  height:75%;
  top:10%;
  border-radius:10px;
  text-align:center;
  font-weight:bold;
  font-size:1.3rem;
  position:relative; 
}


.right{
  grid-column:3;
  grid-row:1;
  background-color:rgb(221, 190, 190);
  width:100%;
  height:75%;
  top:10%;
  border-radius:10px;
  text-align:center;
  font-weight:bold;
  font-size:1.1rem;
  position:relative; 
}

.title{
  text-align:center;
  grid-column: 2;
  grid-row:1;
  font-size:2rem;
  font-weight: bold;
}

.title span{
  color:gray;
  font-size:1rem;
}


.profile{
  grid-column: 1;
  grid-row:2;
}

.profilePic{
  position:absolute;
  top:50%;
  min-height:25%;
  max-height:35%;
}



.exit{
  cursor:pointer;
  font-size:3rem;
  text-align:center;
  background-color: #fff;
  z-index:11;
  border-radius:5px;
  position:absolute;
  bottom:2%;
  display:inline-block;
  font-family:'Segoe UI','Roboto',sans-serif;
  color:#000000;
  background-color:#CCCCCC;
  border:3px solid black;
  width:50vw;
}

.exit:hover{
  background-color:white;
  transition:1s;
}

.rotate{
  cursor:pointer;
  left:0px;
  position:absolute;
  bottom:60%;
  height:7%;
}


.content{
  grid-column-start:3;
  grid-column-end:2;
  left:5%;
  position:relative;
  width:120%;
  height:120%;
  grid-gap:10%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr;
}

.content span{
  font-weight:bold;
}

.height{  
  position:relative;
  top:50%;
  grid-column:1;
  grid-row:1;
  display:grid;
  grid-template-rows:1fr 1fr;
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	border-radius:5px;
	border:1px solid #ffaa22;
	color:#333333;
  max-height:30%;
  text-align:center;
	text-shadow:0px 1px 0px #ffee66;
}

.weight{  
  position:relative;
  grid-column:1;
  grid-row:2;
  display:grid;
  grid-template-rows:1fr 1fr;
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	border-radius:5px;
	border:1px solid #ffaa22;
	color:#333333;
  max-height:30%;
	text-shadow:0px 1px 0px #ffee66;
  text-align:center;
}


.abilities{
  width:105%;
  height:85%;
  position:relative;
  grid-column:2;
  grid-row:2;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:.5fr 1fr 1fr;
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	color:#333333;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.abilities p {
  font-size:1.3rem;
  font-weight:bold;
	text-decoration:none;

}

.abilities div{
  text-align:center;
  box-shadow:inset 0px 1px 13px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
  height:80%;
	color:#ffffff;
	font-family:Verdana;
	text-decoration:none;
	text-shadow:0px 3px 0px #1570cd;
}

.slot1{
  grid-column:1;
  grid-row:2;
}
.slot2{
  grid-column:1;
  grid-row:3;
}
.slot3{
  grid-column:2;
  grid-row:2;
}
.slot4{
  grid-column:2;
  grid-row:3;
}

.types{
  top:50%;
  grid-column:2;
  grid-row:1;  
  height:30%;
  position:relative;
  display:grid;
  padding:1%;
  grid-template-columns:1fr 1fr;
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	color:#333333;
  align-items:center;
  align-content:center;
	text-shadow:0px 1px 0px #ffee66;
}

.types div{
  display:inline-block;
  border:0.16px solid rgba(255,255,255,0);
  border-radius:20%;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  background-size: 200% auto;
  cursor:pointer;
  border:1px black solid;
}

.fire{
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
}

.grass{
  background-image: linear-gradient(to right, #27e540 0%, #40b312  51%, #8ce527  100%);
}

.poison{
  background-image: linear-gradient(to right, #e527d5 0%, #b31290  51%, #e527a6  100%);
}

.flying{
  background-image: linear-gradient(to right, #c4bbbb 0%, #9c9786  51%, #6d5d5d  100%);
}

.water{
  background-image: linear-gradient(to right, #5f61d6 0%, #5a65a8  51%, #c7c8ff  100%);
}

.bug{
  background-image: linear-gradient(to right, #7ce527 0%, #c756fc  51%, #27e527  100%);
}

.normal{
  background-image: linear-gradient(to right, #86a013 0%, #866919  51%, #bad833  100%);
}

.ground{
  background-image: linear-gradient(to right, #a79c07 0%, #776f04  51%, #e5b227  100%);
}

.fairy{
  background-image: linear-gradient(to right, #be1cb6 0%, #770468  51%, #e527e5  100%);
}

.electric{
  background-image: linear-gradient(to right, #bebb00 0%, #faf600  51%, #e5ff00  100%);
}

.rock{
  background-image: linear-gradient(to right, #3d392e 0%, #5e5d4a  51%, #90918d  100%);
}

.ice{
  background-image: linear-gradient(to right, #0013be 0%, #0400fa  51%, #2600ff  100%);
}

.dragon{
  background-image: linear-gradient(to right, #be7b00 0%, #fa8e00  51%, #ff8800  100%);
}

.psychic{
  background-image: linear-gradient(to right, #8800be 0%, #fa0089  51%, #ff0062  100%);
  box-shadow: inset 0 5vw 10vh rgba(110, 37, 86, 0.5)
}

.fighting{
  background-image: linear-gradient(to right, #be2c00 0%, #fae100  51%, #d9ff00  100%);
}

.ghost{
  background-image: linear-gradient(to right, #5e5464 0%, #6f4881  51%, #ecc2f1  100%);
}

.dark{
  background-image: linear-gradient(to right, #3d3a3a 0%, #555551  51%, #85638d  100%);
}

.steel{
  background-image: -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%);
}

.none{
  background-color:red;
  display:none !important;
  border: none !important;
}

 .types div:hover {
   transition:5s;
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.types div{
  text-align:center;
  font-weight:bold;
}
/* =================================================================*/
