body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader{
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.fullPage{
  display:grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 2fr 10fr 2fr;
  width:100vw;
  height:100vh;
}

.showGrid{
  grid-column: 2;
  grid-row:2;
  padding:200px;
  align-items:center;
  content:center;
  overflow-y:scroll;
  position:relative;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  gap:20px;
  padding:20px;
}

.pokeCard{
  text-align:center;
  justify-content:center;
  align-content:center;
  background-color:rgb(209, 233, 253);
  width:100%;
  height:100%;
  border-radius:10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pokeCard:hover{
  transition:.6s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image{
  background-color:aliceblue ;
}

.navBar{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width:80vw;
  border-radius:5px;
  background-color:#3b4cca;
  margin:1vh;
}
.searchBar{
  margin-left:2vw;
}

.navBar input{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color:#FFDE00;
  border-radius:5px;
  width:19.5%;
  text-align:center;
}

.navBar button{ 
  font-size:0.8rem;
  width:25%;
  border-radius:2em;
  box-sizing: border-box;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#89f1ff;
  text-align:center;
}